version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: yastubo-app
    ports:
      - "8000:8000"
    volumes:
      - .:/code
      - /code/.venv
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
    command: python -m uvicorn app.modules.module_a_identity.main:app --host 0.0.0.0 --port 8000 --reload
